<!DOCTYPE html>
<html>
<head>
    <title>City Distance Calculator 🌍 </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Calculation of the distance between cities</h1>
        <form method="post">
            <label for="city_1">Enter the name of the first city:</label>
            <input type="text" name="city_1" required>
            <br>
            <label for="city_2">Enter the name of the second city:</label>
            <input type="text" name="city_2" required>
            <br>
            <input type="submit" value="Calculate" class="calculate-button">
        </form>
        {% if error_message %}
        <span class="index-error">{{ error_message }}</span>
        {% endif %}
    </div>
    <script>
        window.addEventListener('load', function () {
            document.body.classList.add('show-container');
        });
    </script>
</body>
</html>